@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Georgian:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Georgian:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


.d-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.d-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.d-start-y {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.d-start-x {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.d-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}