:root{
    --text-primary-color: #191919; 
    --page-secondary-color: #ffffff;
    --button-primary-color: #ffffff;
    --button-secondary-color:#025fd9 ;
    --accent-color: #025fd9;
    --alternate-color: #0135c7;
    --reyting-star-color:#f4c150;
    --logo-height: 120px;
    --sticky-logo-height: 80px;
    --responsive-logo-height: 60px;
    --responsive-sticky-logo-height: 60px;
    --responsive-menu-logo-height: 80px;
    --sidebar-width: 25%;
    --sidebar-sticky-top-position: 20px;
    --page-background-image: url((unknown));
    --error-404-background-image: url((unknown));
    --responsive-menu-max-width: 320px;
    --body-font: Aileron;
    --body-font-weight: normal;
    --body-text-transform: none;
    --body-font-style: none;
    --heading-font: Aileron;
    --heading-font-weight: bold;
    --heading-text-transform: none;
    --heading-font-style: none;
    --supertitle-font: Aileron;
    --supertitle-font-weight: normal;
    --supertitle-text-transform: none;
    --supertitle-font-style: none;
    --subtitle-font: Aileron;
    --subtitle-font-weight: 300;
    --subtitle-text-transform: none;
    --subtitle-font-style: none;
    --menu-font: Aileron;
    --menu-first-level-font-weight: normal;
    --menu-first-level-text-transform: none;
    --menu-other-levels-font-weight: normal;
    --menu-other-levels-text-transform: none;
    --button-font: Aileron;
    --button-font-weight: bold;
    --button-text-transform: none;
    --button-font-style: none;
    --page-primary-color-rgb: 25, 25, 25;
    --page-secondary-color-rgb: 255, 255, 255;
    --accent-color-rgb: 2, 95, 217;
    --alternate-color-rgb: 1, 53, 199;
    cursor: auto;
}