/* p{
    color: var(--text-primary-color);
} */
* {
  list-style: none !important;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}

.hc-cont-header {
  max-width: 1600px;
  margin: auto;
  padding: 0 20px;
}
.hc-header-cont {
  max-width: 1600px;
  margin: auto;
}
header {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
}

header a {
  color: var(--body-font);
}
header ul {
  margin: 0;
  z-index: 1;
}
.hc-nav-list li {
  display: inline-block;
  padding: 15px;
}
.hc-log-list li {
  display: inline-block;

  padding: 5px;
}
.hc-logo {
  /* text-align: right; */
  display: flex;
  align-items: center;
}
.hc-logo img {
  width: 100px;
}
.hc-nav {
  align-items: center;
}

.hc-nav-list-drop {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 310px;
  top: 0;
  z-index: 1;
  left: -350px;
  padding: 20px;
  transition: 2s;
  box-shadow: inset;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.hc-nav-list-drop li {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 270px;
}
.hc-nav-list-drop button {
  position: absolute;
  top: 0;
  left: 315px;
  right: -20px;
}
.hc-drop-logo {
  text-align: center;
}
.hc-drop-logo img {
  height: 100px;
  width: 220px;
}
.hc-adr-drop {
  text-align: center;
}
.hc-mob-bar {
  width: 40px;
  margin-right: 20px;
  cursor: pointer;
}
.hc-mob-bar div {
  height: 2px;
  background-color: black;
  border-radius: 10px;
  width: 40px;
  margin-top: 10px;
}
.hc-mob-bar1 {
  width: 25px !important;
  margin-left: 15px;
}
.hc-mob-bar3 {
  width: 25px !important;
}
#hc-remove-mob {
  transition: 2s;
}
.hc-mob-menu-serch {
  position: relative;
}
.hc-mob-menu-serch input {
  padding: 1.219em 1.25em;
  min-height: 3.75em;
  font: inherit;
  line-height: 1;
  display: block;
  width: 100%;
  padding: 0.8em;
  outline: none;
  color: inherit;
  background: transparent;
  border-radius: 30px;
  background-color: rgba(25, 25, 25, 0.07);
  border: none;
}
.hc-mob-menu-serch i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
}
.hc-adr-drop div i {
  font-size: 42px;
  color: #025fd9;
}
.hc-adr-drop div {
  padding: 25px 0;
}
.hc-adr-drop div p {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.1;
  padding-top: 0.1em;
}
.hc-adr-drop div span {
  display: block;
  color: inherit;
}

.ch-current-page {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--primary-color);
}

.hc-mob-menu .collapse {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 280px;
  background-color: transparent !important;
}
.hc-mob-menu nav ul {
  width: 280px;
  background-color: #ffffff !important;
  padding: 15px;
  /* position: relative; */
  left: 0;
  top: 0;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.hc-remove-btn {
  float: right;
  z-index: 1;
}

.hc-fot-cont {
  max-width: 1600px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}
.hc-footer {
  box-sizing: border-box;
  overflow: hidden;
  min-height: 500px;
  background-image: url(https://vivo.bold-themes-cdn.com/christina/wp-content/uploads/sites/3/2022/08/background_footer_home_02.jpg);
  background-position-y: -72.4788px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px 0 0 0;
  border-radius: 20px 20px 0 0;
  color: #ffffff !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hc-footer > div {
  width: 90%;
  margin: auto;
}
.hc-footer p {
  font-size: 14px !important;
}
footer .hc-drop-logo {
  position: relative;
  top: 100px;
  left: -6px;
  text-align: left;
  width: 100%;
  height: 130px;
  border-top: 120px;
  border-right: 2510px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  line-height: 0px;
  _border-color: #33669c #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
footer .hc-drop-logo img {
  position: relative;
  top: -110px;
}
.hc-footer ul {
  padding: 0;
}
.hc-footer ul li {
  margin-bottom: 7px;
}
.hc-footer ul li span {
  font-size: 13px;
}
.hc-footer a {
  color: #ffffff;
  font-size: 14px;
}
.hc-shot-link li p {
  max-height: 42px;
  margin: 0;
}
.hc-shot-link li a {
  font-weight: 600;
  display: -webkit-box;
  box-sizing: inherit;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 45px;
}

.hc-footer > div > div {
  padding: 20px;
}
.hc-footer h1 {
  font-weight: 700;
  padding-bottom: 20px;
  margin: 0;
  font-size: 16px;
}
.hc-social i {
  padding-right: 8px;
  font-size: 22px;
}
.hc-cookie {
  padding: 30px 0;
}
.hc-cookie a {
  text-decoration: underline !important;
  padding-right: 4px;
}

.hc-slide-cards {
  margin: 100px auto;
  max-width: 1600px;
}
.hc-slide-cards .ih-doctor-column-inner {
  border-radius: 20px;

  background-color: #fafafa;
  color: #000000 !important;
}

.hc-slide-cards .ih-doctor-text-content {
  padding: 10px 30px;
  color: var(--primary-color);
  height: 100%;
  line-height: 20px !important;
}
.hc-slide-cards .ih-doctor-text-content span {
  font-size: 16px;
  color: var(--button-secondary-color);
  font-weight: 400;
}
.hc-slide-cards .ih-doctor-text-content h3 {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px !important;
}
.hc-slide-cards .ih-doctor-text-content p {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  width: 100%;
  margin-bottom: 10px;
  line-height: 20px !important;
}
.hc-slide-cards .ih-doctor-text-content a {
  text-decoration: 0;
  color: var(--button-secondary-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px !important;
}
.hc-slide-cards .ih-doctor-text-content a i,
.hc-slide-cards .ih-doctor-text-content span i {
  margin-right: 5px;
  line-height: 20px !important;
}

.hc-slide-cards .ih-doctors-inner-icon {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--button-primary-color);
  background-color: var(--accent-color);
  width: 30;
  height: 30;
  line-height: 20px !important;
}
.ch-six {
  max-width: 1600px;
  position: relative;
  margin: auto;
}
.ch-six .ih-coverage-img {
  transform: rotate(180deg);
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2;
  background-color: #55555501;
}
.hc-slide-cards-header h1 {
  font-size: 60px;
}
.hc-slide-cards-header div {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.hc-slide-cards-header div p {
  font-size: 17px;
  /* max-width: 600px; */
}
body {
  background: #ffffff;
}
.container {
  margin: 0 auto;
}

/* Example wrapper */
.wrap {
  position: relative;
  margin: 3em 0;
}

/* Frame */
.frame {
  height: 500px;
  line-height: 250px;
  overflow: hidden;
}
.frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 500px;
  font-size: 50px;
}
.frame ul li {
  float: left;
  width: 350px;
  height: 100%;
  margin: 0 20px 0 0;
  padding: 0;
  color: #ddd;
  text-align: left;
  cursor: pointer;
}
.frame ul li.active {
  color: #fff;
}

/* Scrollbar */
.scrollbar {
  margin: 0 0 1em 0;
  height: 2px;
  background: #ccc;
  line-height: 0;
}
.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #292a33;
  cursor: pointer;
}
.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

/* Pages */
.pages {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: right;
}
.pages li {
  display: inline-block;
  width: 43px;
  height: 4px;
  margin: 0 4px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}
.pages li:hover {
  background: #aaa;
}
.pages li.active {
  background: var(--accent-color);
}

/* Controls */
.controls {
  margin: 25px 0;
  text-align: center;
}

/* One Item Per Frame example*/
.oneperframe {
  height: 300px;
  line-height: 300px;
}
.oneperframe ul li {
  width: 1140px;
}
.oneperframe ul li.active {
  background: #333;
}

/* Crazy example */
.crazy ul li:nth-child(2n) {
  width: 100px;
  margin: 0 4px 0 20px;
}
.crazy ul li:nth-child(3n) {
  width: 300px;
  margin: 0 10px 0 5px;
}
.crazy ul li:nth-child(4n) {
  width: 400px;
  margin: 0 30px 0 2px;
}

.hc-before-footer {
  max-width: 1600px;
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
}
.hc-before-footer-img {
  display: flex;
  justify-content: center;
}
.hc-before-footer-img img {
  max-width: 100%;
}
.hc-before-footer h1 {
  font-size: 3.815rem;
}
.hc-before-footer .hc-right > div {
  display: flex;
  align-items: center;
  padding: 25px;
}
.hc-before-footer-right {
  padding: 30px;
}
.hc-before-footer .hc-right i {
  font-size: 37px;
  color: #025fd9;
  padding-right: 15px;
}
.hc-before-footer .hc-right span {
  font-size: 1em;
}
.hc-before-footer .hc-right span a {
  font-weight: 900;
  font-size: 1.5rem;
}

.color-white {
  color: white;
}

.ih-content {
  margin: auto;
  width: 90%;
}
.ih-main {
  margin-top: 110px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 35px;
}
.ih-bgimg-wrapper {
  overflow: hidden;
  background-size: inherit;
  background-position: inherit;
  z-index: -45;
}
.ih-bgimg {
  background-image: url("https://vivo.bold-themes-cdn.com/christina/wp-content/uploads/sites/3/2022/08/hero_home_02.jpg");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: inherit;
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: cover;
  z-index: -1;
  border-radius: 35px;
}
.ih-bgimg:after {
  content: "";
  position: absolute;
  top: 93%;
  left: 0;
  height: 100%;
  width: 120%;
  background: white;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-6deg);
  transform: rotate(-2.5deg);
}
.ih-bb-port {
  padding-top: 8em;
  padding-bottom: 8em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ih-column h1 {
  font-size: 4.768125em;
  font-weight: 700;
  text-align: left;
  color: var(--page-secondary-color);
  line-height: 91px;
}
.ih-column p {
  font-size: 25px;
  font-weight: 200;
  text-align: left;
  color: var(--page-secondary-color);
}
.ih-item-num {
  font-size: 48px;
  color: var(--page-secondary-color);
}
.ih-item-num-acc {
  font-size: 48px;
  color: var(--page-secondary-color);
}

.ih-item-text {
  font-size: 20px;
  color: var(--page-secondary-color);
}
.ih-main-row {
  padding: 0px -20px;
}

.ih-inner-row-item i {
  color: var(--page-secondary-color);
}
.ih-button-row {
  display: flex;
  align-items: center;
}
.ih-button-row h1 {
  font-size: 48px;
  font-weight: 700;
}
.ih-btn {
  width: 250px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid #025fd9;
  color: #025fd9;
  position: relative;
  top: 0;
}
.ih-image {
  width: 375px;
  height: 450px;
}
.ih-image img {
  width: 100%;
}
.ih-second-column {
  display: flex;
  justify-content: center;
}

.ih-btn:hover {
  box-shadow: inset 0 0 0 4px #025fd9, inset 0 0 0 8px #025fd9,
    inset 0 0 0 12px #025fd9, inset 0 0 0 16px #025fd9;
  background: #025fd9;
  color: #fff;
  top: -5px;
}
.ih-second-blog-row {
  padding-top: 64px;
}
.ih-second-blog-row h3 {
  font-size: 25px;
  font-weight: 700;
  padding-top: 16px;
}
.ih-second-blog-row p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 14px;
  margin-bottom: 5px;
}

.ih-second-blog-row a {
  color: rgb(2, 92, 217);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  padding: 22px 0px;
}

.ih-second-blog-row-icon {
  color: rgb(2, 92, 217);
}
.ih-third-bb {
  border-radius: 105.5px;
  height: 200px;
  background-image: url(https://vivo.bold-themes-cdn.com/christina/wp-content/uploads/sites/3/2022/08/background_01_home_02.jpg);
  background-repeat: no-repeat;
}

.ih-third-row-second {
  color: #fff;
  padding: 40px 0px;
}
.ih-fourth-row-first {
  display: flex;
  justify-content: end;
  margin-left: 120px;
  margin-top: -220px;
}
@media (max-width: 1025) {
  .ih-fourth-row-first {
    margin-left: 120px;
    margin-top: -250px;
  }
}

@media (max-width: 767px) {
  .ih-fourth-row-first {
    margin-left: 0px;
    margin-top: 0px;
  }
  .ih-third-bb {
    height: auto;
  }
}
.ih-consult-one span {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}
.ih-consult h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73px;
}
.ih-text p {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
}

.ih-fifth-column-inner-content {
  background-color: rgb(242, 242, 242);
  border-radius: 15px;
}
.ih-dropdown {
  display: flex;
  padding-bottom: 40px;
  padding-left: 20px;
}
.ih-dropdown-select {
  padding-left: 10px;
}
.ih-dropdown-img img {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ih-consult h1 {
  font-size: 25px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 16px;
  margin: 0px;
  padding-left: 20px;
}
.ih-consult p {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 16px;
  padding-left: 20px;
}
.ih-img-consult {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 100%;
  justify-content: flex-end;
}
.ih-img-consult img {
  width: 100%;
  justify-self: flex-end;
}

.ih-departments {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.ih-departments-col {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}
.ih-departments-col-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ih-departments-col-item i {
  color: #025fd9;
}
.ih-departments-col-item span {
  font-size: 20px;
  font-weight: 700;
  color: rgb(25, 25, 25);
  line-height: 24px;
  padding-top: 16px;
}
.ih-fifth-row {
  padding-bottom: 64px;
}
.ih-fifth {
  padding-top: 128px;
}
.ih-six {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ih-six-bg {
  background-image: url("https://vivo.bold-themes-cdn.com/christina/wp-content/uploads/sites/3/2022/08/background_03_home_02.jpg");
  border-radius: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: inherit;
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: -5;
  padding-top: 8em;
  padding-bottom: 8em;
}

.ih-six-col span {
  font-size: 17px;
  font-weight: 400;
}
.ih-six-col h1 {
  font-size: 48px;
  font-weight: 700;
}

.ih-six-row {
  padding-top: 200px;
}
.ih-coverage-img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
  background-color: #55555501;
}
.ih-coverage-img img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}
.ih-button-side {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.ih-quotes {
  display: flex;
  align-items: center;
}
.ih-quotes hr {
  width: 200px;
  margin-left: 10px;
}
.ih-quotes i {
  color: #025fd9;
}
.ih-quotes-img {
  padding-right: 20px;
}
.ih-quotes-img img {
  width: 100%;
  border-radius: 50%;
}
.ih-bottom-hr {
  width: 100px;
}
.ih-quotes-text p {
  font-size: 16px;
  font-weight: 700;
}

.ih-quotes-row {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.ih-bb-padding {
  padding-left: 100px;
  padding-right: 100px;
}
.ih-seperate {
  width: 100%;
  height: 1px;
  padding: 100px;
}
.ih-doctor-column-inner {
  border-radius: 20px;

  background-color: #025fd9;
}
.ih-doctor-img-content {
  position: relative;
}
.ih-doctor-img-content img {
  width: 100%;
  border-radius: 20px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 0;
}
.ih-popular-doctors {
  margin-top: -100px;
}
.ih-doctors-inner-icon {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  left: 35px;
}
.ih-doctor-text-content {
  padding: 10px 30px;
  color: #fff;
  height: 200px;
}
.ih-doctor-text-content span {
  font-size: 16px;
  font-weight: 400;
}
.ih-doctor-text-content h3 {
  font-size: 31px;
  font-weight: 700;
}
.ih-doctor-text-content p {
  font-size: 14px;
  font-weight: 300;
}
.ih-doctor-text-content a {
  text-decoration: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.slider {
  display: flex;
  border: none;
}
.slider .card {
  flex: 1;
  margin: 0 10px;
  border: none;
}
.slider .card .img {
  height: 70px;
  width: 100%;
  border: none;
}
.slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
}

.ih-company-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 80px;
}
.ih-company-slide h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.ih-company-slide p {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.owl-carousel {
  margin: 40px 0px;
}
.ih-form-image img {
  width: 100%;
}

.ih-form span {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}
.ih-form h1 {
  font-size: 61px;
  font-weight: 700;
  padding-bottom: 8px;
}
.ih-form p {
  font-size: 16px;
  font-weight: 400;
}

.ih-inp-style {
  border: none;
  height: 40px;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 300px;
  border-radius: 15px;
  background-color: rgb(25, 25, 25, 0.07);
}
.ih-inp-style-two {
  border: none;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 300px;
  border-radius: 15px;
  background-color: rgb(25, 25, 25, 0.07);
}

.ih-btn-appointment {
  width: 250px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  background: #025fd9;
  border: none;
  border-radius: 50px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid #025fd9;
  position: relative;
  top: 0;
}

.ih-btn-appointment:hover {
  top: -5px;
}

.ih-adress-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
.ih-adress-row-inner {
  gap: 40px;
}

.ih-adress-col i {
  color: #025fd9;
}
.ih-adress-col h5 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.ih-adress-col span {
  font-size: 12px;
  font-weight: 300;
}
@media (max-width: 767px) {
.ih-doctorcards{
 gap: 20px;
}
.ih-form-row{
  gap: 30px;
}
}