* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #025fd9;
}

.text {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 50%;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in-anim 1.5s ease-out forwards;
}

.AS-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  font-size: 50px;
  background-color: #025fd9;
  color: white;
  transform: translateX(-200%);
  opacity: 0;
  animation: left-header 1.5s ease-out forwards;
  width: 15rem;
  text-align: center;
  margin-left: 18rem;
}

/* footer design */
footer {
  width: 100%;
  overflow: hidden;
}

/* animation header  */
@keyframes left-header {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateX(-45%);
  }
  75% {
    transform: translateX(-52%);
  }
  100% {
    opacity: 1;
    transform: translateX(-62%);
  }
}


    /* screen div */
#AS-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 5rem;
 
}

.AShospital-card {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  position: relative;
  overflow: hidden;
  width: 250px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

/* card hoverleri */
.AShospital-card:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.AShospital-card .AScard-body {
  padding: 20px;
}

.AShospital-card img {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.AShospital-card .AShospital-name {
  font-size: 20px;
  margin-top: 0;
}

.AShospital-card .ASaddress {
  font-size: 16px;
  color: #777;
}

.AShospital-card .ASrating {
  font-size: 20px;
  margin-top: 10px;
  color: #f4c150;
}

.AShospital-card .ASstar {
  color: #f4c150;
}

.ASbutton {
  width: 11rem;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 0;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  background-color: #025fd9;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}

.ASbutton:hover {
  background-color: white;
  color: #025fd9;
  border: 1px solid #025fd9;
}

.ASaddress {
  font-size: 10px;
}

/* page butonlari */
.AS-w3-button {
  margin: 0.5rem;
  font-size: large;
  text-decoration: none;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #025fd9;
}

.AS-w3-button:hover {
  background-color: #025fd9;
  color: white;
}

.AS-w3-bar {
  margin: 1.5rem;
}

/* repsonsive design */

@media (min-width: 1000px) {
  .AS-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .AS-header {
    font-size: 50px;
    width: 15rem;
  }
}

@media screen and (max-width: 600px) {
  .AS-header {
    width: 100%;
    font-size: 30px;
    transform: none;
    opacity: 1;
    animation: none;
    margin-left: 0;
  }
}