*{
    list-style: none !important;
    text-decoration: none !important;
    margin: 0 ;
    padding: 0;
  }
  .hc-cont-header{
    max-width: 1600px;
    margin: auto;
    padding: 0 20px;
  }
  .hc-header-cont{
    max-width: 1600px;margin: auto;
  }
  header{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
  }
  
  header a{
    color: var(--body-font);
  }
  header ul{
    margin: 0;
    z-index: 1;
  }
  .hc-nav-list li{
    display: inline-block;
    padding: 15px;
  }
  .hc-log-list li{
    display: inline-block;
  
    padding: 5px;
  }
  .hc-logo{
    /* text-align: right; */
    display: flex;
    align-items: center;
  }
  .hc-logo img{
    width: 100px;
  }
  .hc-nav{
    align-items: center;
  }
  
  
  
  .hc-nav-list-drop{
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 310px;
    top: 0;
    z-index: 1;
    left: -350px;
    padding: 20px;
    transition: 2s;
    box-shadow: inset;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  
  }
  .hc-nav-list-drop li{
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0,0.5);
    width: 270px;
  }
  .hc-nav-list-drop button{
    position: absolute;
    top: 0;
    left: 315px;
    right: -20px;
  }
  .hc-drop-logo{
    text-align: center;
  }
  .hc-drop-logo img{
    height: 100px;
  width: 220px;
  }
  .hc-adr-drop{
    text-align: center;
  }
  .hc-mob-bar{
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
  }
  .hc-mob-bar div{
    height: 2px;
    background-color: black;
    border-radius: 10px;
    width: 40px;
    margin-top: 10px;
  }
  .hc-mob-bar1{
    width: 25px !important;
    margin-left: 15px;
  }
  .hc-mob-bar3{
    width: 25px !important;
  
  }
  #hc-remove-mob{
    transition: 2s;
  }
  .hc-mob-menu-serch{
    position: relative;
  }
  .hc-mob-menu-serch input{
    padding: 1.219em 1.25em;
      min-height: 3.75em;
      font: inherit;
      line-height: 1;
      display: block;
      width: 100%;
      padding: 0.8em;
      outline: none;
      color: inherit;
      background: transparent;
      border-radius: 30px;
      background-color: rgba(25, 25, 25,0.07);
      border: none;
  }
  .hc-mob-menu-serch i{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
  }
  .hc-adr-drop div i{
    font-size:42px ;
    color: #025fd9;
  }
  .hc-adr-drop div{
    padding: 25px 0;
  }
  .hc-adr-drop div p{
    margin: 0;
    font-size: 1.125em;
      font-weight: bold;
      line-height: 1.1;
      padding-top: 0.1em;
  }
  .hc-adr-drop div span{
    display: block;
    color: inherit;
  
  }
  
  .ch-current-page{padding-bottom: 5px;
    border-bottom: 2px solid var(--primary-color);
  }
  
  
  .hc-mob-menu .collapse{
    position: fixed  !important;
    left: 0;
    top: 0;
    width: 280px;
    background-color: transparent !important;
  
  }
  .hc-mob-menu nav ul{
   width: 280px;
   background-color: #ffffff !important;
   padding: 15px;
   /* position: relative; */
   left: 0;
   top: 0;
   height: 100vh;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
  }
  .hc-remove-btn{
    float: right;
    z-index: 1;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .hc-fot-cont{
    max-width: 1600px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
  }
  .hc-footer{
    box-sizing: border-box;
    overflow: hidden;
    min-height: 500px;
    background-image: url(https://vivo.bold-themes-cdn.com/christina/wp-content/uploads/sites/3/2022/08/background_footer_home_02.jpg);
    background-position-y: -72.4788px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 100px 0 0 0;
    border-radius: 20px 20px 0 0;
    color: #ffffff !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .hc-footer>div{
    width: 90%;
    margin: auto;
  }
  .hc-footer p{
    font-size: 14px !important;
  }
  footer .hc-drop-logo{
    position: relative;
    top: 100px;
    left: -6px;
    text-align: left;
    width: 100%;
    height: 130px;
    border-top: 120px;
    border-right: 2510px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    line-height: 0px;
    _border-color: #33669c #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  }
  footer .hc-drop-logo img{
    position: relative;
    top: -110px;
  }
  .hc-footer ul{
    padding: 0;
  }
  .hc-footer ul li{
    margin-bottom: 7px;
  }
  .hc-footer ul li span{
    font-size: 13px;
  }
  .hc-footer  a{
  
    color: #ffffff;
    font-size: 14px;
  }
  .hc-shot-link li p{
    max-height: 42px;
    margin: 0;
  }
  .hc-shot-link li a{
    font-weight: 600;
    display: -webkit-box;
    box-sizing: inherit;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 45px;
  }
  .hc-shot-link li{
    /* display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
  }
  .hc-footer>div>div{
  padding: 20px;
  }
  .hc-footer h1{
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0;
    font-size: 16px;
  }
  .hc-social i{
    padding-right: 8px;
    font-size: 22px;
  }
  .hc-cookie{
    padding: 30px 0;
  }
  .hc-cookie a{
    text-decoration: underline !important;
    padding-right: 4px;
  }
  .user-avatar img{
    width: 200px;
  }
  .gutters{
    padding-top: 120px;
  }
  
  
  
  
  
  
  

  

  