*{
    list-style: none !important;
    text-decoration: none !important;
    margin: 0 ;
    padding: 0;
  }
  .hc-cont-header{
    max-width: 1600px;
    margin: auto;
    padding: 20px;
  }
  .hc-header-cont{
    max-width: 1600px;margin: auto;
  }
  header{
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
  }
  
  header a{
    color: var(--body-font);
  }
  header ul{
    margin: 0;
    z-index: 1;
  }
  .hc-nav-list li{
    display: inline-block;
    padding: 15px;
  }
  .hc-log-list li{
    display: inline-block;
  
    padding: 5px;
  }
  .hc-logo{
    /* text-align: right; */
    display: flex;
    align-items: center;
  }
  .hc-logo img{
    width: 100px;
  }
  .hc-nav{
    align-items: center;
  }
  
  
  
  .hc-nav-list-drop{
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 310px;
    top: 0;
    z-index: 1;
    left: -350px;
    padding: 20px;
    transition: 2s;
    box-shadow: inset;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  
  }
  .hc-nav-list-drop li{
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0,0.5);
    width: 270px;
  }
  .hc-nav-list-drop button{
    position: absolute;
    top: 0;
    left: 315px;
    right: -20px;
  }
  /*  */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  