
  @import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Georgian:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Georgian:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Gilda Display', serif;
font-family: 'Jost', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans Georgian', sans-serif;
font-family: 'Noto Serif Georgian', serif;
font-family: 'Poppins', sans-serif;
}

.bg-light-gray {
    background-color: #f7f7f7;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.margin-10px-bottom {
    margin-bottom: 10px;
}
.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}
.font-size14 {
    font-size: 14px;
    background-color: #e9e9e9;
    padding: 5px;
    margin:  0 0 10px;
    border-radius: 5px;
}

.font-size14:hover{
    cursor: pointer;
    background-color: #fdfafa;
}


.text-light-gray {
    color: #757575;
    font-size: 14px !important;
}


.font-size13 {
    font-size: 13px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .35rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.text-uppercase{
    color: #272B41;
    font-size: 14px;
}
.efdocimg{
    width: 80px;
    height: 80px;
}
.efdocimg img{
    width: 100%;
}
.doc-star{
    color: var(--reyting-star-color);
}

.docinfo p{
    margin:  0  0  1px 10px;
}

.doctorpro{
    margin-bottom: 50px;
}